{% extends 'base.html' %}



{% load static %}
{% block title %}
Home
{% endblock title %}




{% block body %}
{% load static %}

<div class="container-fluid2 my-5">
    <h2 style="text-align: center; color: red; ">Master Your Skills With Us!</h2>
    <div class="container" style="color: blue;">
        <h5 style="text-align: center; ">
            <p>
                We provide online live classes For <b>Classes V - XII</b> with seamless learning experience by
                integrating
                the latest academic practices from expert teachers with user-friendly advanced technology tools.
                Your child gets a transparent, high-quality education, regardless of the situation and location.

            </p>
        </h5>
    </div>
</div>

<div class="container mx-5 my-5">
    <form method="get" action="/contact-us">
        <button class="btn btn-primary" type="submit">To Join, Click Here Now!</button>
        <form>
</div>

<div class="container-fluid my-5">

    <div class="card my-4" id="card1">

        <ul>
            <li>Class Duration: 1 Hour</li>
            <br>
            <li>Class Frequency: Monday To Saturday Every Week</li>
            <br>
            <li>Class/Batch Size: 1:6(1 Teacher : 6 Students Max.)</li>
            <br>
            <li>One To One Teaching(1 Teacher and 1 Student) Also Available</li>
        </ul>

    </div>

    <div class="card my-4" id="card2">

        <ul>
            <li>Classes To be held on Zoom/Google Meet.</li>
            <br>
            <li>We Offer Three Subjects: Maths, Science & Coding</li>
            <br>
            <li>You can choose any Subjects.</li>
            <br>
            <li>NOTE: Coding is Completely an Optional Subject.</li>

        </ul>


    </div>

    <div class="card my-4" id="card3">

        <ul>
            <li>Revision Class will be held every weak.</li>
            <br>
            <li>Test of previous lessons is Conducted every Week.</li>
            <br>
            <li>Report of Students as well as Parents-Teacher Meeting will be conducted every Month.</li>
            <br>
            <li>For Pricing Please <a href="#">Click Here</a></li>
        </ul>

    </div>

</div>









{% endblock body %}